.resetBtn {
    /* Unset user agent styles for button element */
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    text-align: inherit;
  
    &:hover {
      box-shadow: none;
    }
  }
  
  /* Unset user agent styles for text elements: p, ul, ol  */
  .resetText {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* Reset List - Unset user agent styles for "ul", "ol", and "dl" */
  .resetList {
    composes: resetText;
  
    padding-left: 0;
    list-style: none;
  }
  
  /* Unset user agent styles for dd element */
  .resetDefinitionDetail {
    margin-left: 0;
  }
  
  /* Unset user agent styles for text elements: h{1,2,3,4,5,6} */
  .resetHeading {
    composes: resetText;
  
    font-size: inherit;
    font-weight: inherit;
  }
  
  /* Unset user agent styles for `a` (anchor) elements */
  .resetAnchor {
    text-decoration: none;
  
    /* Note: we apply styles to `a`, which comes after these styles in the cascade, but this still
    wins because it's a class and thus has higher specificity. */
    color: inherit;
  }
  
  /* unset user agent styles for `input`, `textarea` elements */
  .resetInput {
    padding: 0;
    margin: 0;
    border: none;
  }
  