@value colorGrey700 from "~styles/Colors.css";
@value resetHeading from "~styles/Resets.css";

/* Fonts */
.fontPrimary {
  /* Ideally this would be a variable, but there's a bug in PostCSS whereby variables don't work if
  the value contains commas: https://github.com/css-modules/postcss-modules-values/issues/74 */
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica,
    Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
}

/* Type Scale */
.headingXl {
  composes: resetHeading;

  font-weight: bold;
  margin-bottom: 16px;
  font-size: 46px;
  line-height: 1.2;

  @media (--sm-min) {
    margin-bottom: 24px;
    font-size: 72px;
    line-height: 1.1;
  }
}

.headingL {
  composes: resetHeading;

  font-weight: bold;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 1.25;

  @media (--sm-min) {
    font-size: 46px;
    line-height: 1.2;
  }
}

.headingM {
  composes: resetHeading;

  font-weight: bold;
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 1.2;

  @media (--sm-min) {
    font-size: 28px;
  }
}

.headingXs {
  composes: resetHeading;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.34; /* To-do: use Line Height scale */
}

.bodyCopy {
  font-size: 15px;

  @media (--sm-min) {
    font-size: 18px;
  }
}

/* Line Heights */
.lineHeightOne {
  line-height: 1;
} /* Only for text that doesn't wrap */
.lineHeightTitle {
  line-height: 1.2;
}

.lineHeightCopy {
  line-height: 1.6;
}

/* Font Weights */
.fontWeightNormal {
  font-weight: 400;
}

.fontWeightMedium {
  font-weight: 500;
}

.fontWeightSemibold {
  font-weight: 600;
}

.fontWeightBold {
  font-weight: 700;
}

/* Text Transforms */
.textTransformUppercase {
  text-transform: uppercase;
}

/* Text Decoration */
.textDecorationNone {
  text-decoration: none;
}

.textDecorationUnderline {
  text-decoration: underline;
}

/* Special Text Styles */
.letterSpaced {
  composes: fontWeightBold textTransformUppercase textDecorationNone;

  font-size: 11px;
  letter-spacing: 0.04em;
}

.textShadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

/*
  Truncate

  Compose this class with a width to truncate text (or just leave as is to truncate at width of containing element).
*/
.truncate {
  /* Clip contents when they exceed bounding box */
  overflow: hidden;
  text-overflow: ellipsis;

  /* Force text onto one line */
  white-space: nowrap;
}

.smallUppercaseMeta {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: colorGrey700;
}
