@value placeholderText, placeholderAnimation from "~styles/Placeholders.css";

.numberPlaceholder {
  composes: placeholderText placeholderAnimation;
}

.topApplicationPlaceholder {
  composes: placeholderAnimation;

  /* apply placeholder styles to odd rows */
  &:nth-child(2n + 1) {
    background-color: blue;
  }
}
